.row {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.column {
    display: table-cell;
    background-color: red;
}

.column > h2 {
    text-align: center;
}


.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

img {
    max-height: 500px;
}
