img {
    width: 100%;
    border-radius: 10px;
    padding-top: 10px;
    max-height: 400px;
}

img.background-im {
    opacity: 0.5;
}

    
.content {
    margin: 0 auto;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.arrow {
    font-size: 35px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    color: white;
    opacity: 1;
}

.arrow:hover{
    color: #f68279;

}

.carousel-control-next, .carousel-control-prev {
    height: 35px;
    width: 35px;
    top: 50%;
}

.carousel-control-next {
    right: 10%;
}

.carousel-control-prev {
    left: 10%;
}

.carousel-indicators {
    bottom: 85%;
}

.carousel-indicators .active {
    color: #324851;
    opacity: 1;
    background-color: #324851;
}

.carousel-indicators li {
    background-color: #fff;
    opacity: 0.5;
}

.carousel-item {
    margin: 0 auto;
}

header { 
    padding-left: 25px; padding-right: 25px; 
    background: url(assets/imgs/topofworld.jpg) center center no-repeat;
    background-size: cover;
}


.text-holder {
    position:absolute;
    bottom:30%;
    width:66%;
    border: 2px solid black;
    margin: 0 auto;
    margin-left: 17.5%;
    background-color: rgba(1,1,1,0.6);
    border-radius: 10px;
    height:30%;
}

.text-holder > p {
    text-align: center; 
    color: white;
}

#navbarNav, #nav_ {
    background-color: #34675C;
    border-radius: 12px;
}

.unlocked:hover{
    background-color:#7DA3A1;
    border-radius: 15px;
}

.unlocked {
    transition: background-color 0.5s ease;
    padding-left: 5px;
    padding-right: 5px;
}

.radiates:hover{
    border-radius: 15px;
}

.content > h1 {
    text-align: center;
    width:100%;
}

.row {
    padding-top: 15px;
}

.showContent {
    line-height: 1em;
    height: auto;
}

.hideContent {
    overflow: hidden;
    line-height: 1em;
    height: 2em;
}

.show-more {
    padding: 10px 0;
    text-align: center;
}

#center-btn {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

#mybtn {
    width:85%;
}

#mybtn2 {
    width:55%;
}
