img {
    max-height: 500px;
    width: 100%;
}

.content {
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.mycontent-box {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    bottom: 20%;
}
